{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>The Smug Secure Safe Space</h1>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <img src="/static/img/smugsec.png" height="50%">
    </div>
    <div class="col-md-6">
        <p class="lead">
            Smug Secure began as a progressive new silicon valley start-up
            incubator ideaspace, started by one hacker and our voice has
            reached our audience. We can already say that we have dozens of
            CEOs, CTOs and investors already on board with our philosophy of
            creating a uni-directional safe space away from the 99%.
        </p>
        <p class="lead">
            We've empowered secure user website deployment with no user
            registration. We secure your sensitive user data with the flagship
            product of Smug Secure. The Smug Secure 'Safe Space' has our famous,
            complimentary attached Smug Security Guarantee.
        </p>

        <p class="lead">
            The Smug Secure safe space serves only static files and Markdown.
            Mean hackers can't gain leverage of your website! Join the thousands
            of people who can't sign up with us!
            It's called 'Trickle Down Secunomics' you fake hackers, hahaha!
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">

    </div>
    <div class="col-md-6">
        <!-- <img class="shrunk" src="/static/img/stockphoto.png"> -->
    </div>
</div>

{% endblock %}
