{% extends 'layouts/form.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="col-md-3"></div>
  <div class="col-md-6 block-center">
    <form method="post" class="form">
      <h3 class="form-heading">Register <a href="{{ url_for('main.home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <input type="hidden" name="type" value="user">
      {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
      {{ form.password(class_ = 'form-control', placeholder = form.password.label.text, required = true) }}
      {{ form.confirm(class_ = 'form-control last-input', placeholder = form.confirm.label.text, required = true) }}
      <p class="pull-left"><a href="{{ url_for('main.login') }}">Login</a></p>
    <input type="submit" value="Register" class="btn btn-primary btn-lg btn-block">
    {% if err %}<p class="alert alert-danger">{{ err }}</p>{% endif %}
    </form>
  </div>
</div>
{% endblock %}
