{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Welcome to Facegood!</h1>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <img src="/static/img/logo.png">
    </div>
    <div class="col-md-6">
        <p class="lead">Facegood is the next generation end-2-end encrypted messenger solution by leading software manufacturer iDont. We connect consumers demand to our cloud based social interactive solution.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <p class="lead">iDont Facegood cares about your privacy. It's free! Besides, we're E2E (End-To-End). And It's soooo easy to get started. Become an iDork and sign up with us today!</p>
    </div>
    <div class="col-md-6">
        <img class="shrunk" src="/static/img/stockphoto.png">
    </div>
</div>

{% endblock %}
