{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>iDont Facegood Terms of Service</h1>
</div>
<p class="lead">iDont cares about your privacy.</p>
<p class="lead">
    PLEASE NOTE, THESE TERMS WILL REPLACE THE CURRENT Facegood PREMIUM PRIVACY POLICY, DETAILED BELOW, WITH EFFECT FROM 25 MAY 2018
    Facegood Privacy Policy
    Effective date: 25 May 2018
    Facegood is an online platform created by iDont that allows users to collaborate and share information at work. The Facegood platform includes the Facegood Premium websites, apps and related online services, together the "Service".
    This Privacy Policy describes how your information is collected, used and shared when you use the Service.
    The Service is intended for use by organisations and in accordance with their instructions and is provided to you by your employer or other organisation that has authorised your access to, and use of, the Service (your “Organisation”).
    The Service is separate from other iDont services that you may use. Those other iDont services are provided to you by iDont and are governed by their own terms. However, the Service is provided by your Organisation and is governed by this Privacy Policy and the Facegood Acceptable Use Policy.
    Your Organisation is responsible for and administers your Facegood account ("Your Account"). Your Organisation is also responsible for the collection and use of any data that you submit or provide through the Service and such use is governed by the terms your Organisation has in place with iDont.
    In addition to this privacy statement, your Organisation may have additional policies or codes of conduct which will apply in relation to your use of the Service.
    If you have any questions about your use of the Service, please contact your Organisation.
</p>

<h4>I. WHAT KINDS OF INFORMATION IS COLLECTED?</h4>
<p>Your Organisation will collect the following kinds of information when you, your colleagues or other users access the Service:</p>

<ul>
    <li>your contact information, such as full name and email address;</li>
    <li>your username and password;</li>
    <li>your work title, department information and other information related to your work or Organisation;</li>
    <li>the content, communications and other information you provide when you use the Service, including when you sign up for an account, create or share content, and message or communicate with others. This can include information in or about the content you provide (such as metadata), such as the location of a photo or the date a file was created;</li>
    <li>content, communications and information that other people provide when they use the Service. This can include information about you, such as when they share or comment on a photo of you, send a message to you, or upload, sync or import your contact information;</li>
    <li>all communications with other users of the Service;</li>
    <li>user communications, feedback, suggestions and ideas sent to your Organisation;</li>
    <li>billing information; and</li>
    <li>information that you provide when you or your Organisation contact or engage platform support regarding the Service.</li>
</ul>

<h4>II. HOW DOES YOUR ORGANISATION USE THIS INFORMATION?</h4>
<p>Your Organisation will share the information that it collects with iDont, as provider of the platform, in order to allow iDont to provide and support the Service for your Organisation and other users and in accordance with any other instructions from your Organisation. Examples of such use include:</p>

<ul>
    <li>communicating with users and administrators regarding their use of the Service;</li>
    <li>enhancing the security and safety of the Service for your Organisation and other users, such as by investigating suspicious activity or violations of applicable terms or policies;</li>
    <li>personalising your and your Organisation's experiences as part of our provision of the Service;</li>
    <li>developing new tools, products or services within the Service for your Organisation;</li>
    <li>associating activity on the Service across different devices operated by the same individual to improve the overall operation of the Service;</li>
    <li>to identify and fix bugs that may be present; and</li>
    <li>conducting data and system analytics, including research to improve the Service.</li>
</ul>
<h4>III. DISCLOSURE OF INFORMATION</h4>
<p>Your Organisation discloses the information collected in the following ways:</p>

<ul>
    <li>to third-party service providers that assist in providing the Service or part of the Service;</li>
    <li>to third-party apps, websites or other services that you can connect to through the Service;</li>
    <li>in connection with a substantial corporate transaction, such as the transfer of the Service, a merger, consolidation, asset sale or in the unlikely event of bankruptcy or insolvency;</li>
    <li>to protect the safety of any person; to address fraud, security or technical issues; and</li>
    <li>in connection with a subpoena, warrant, discovery order or other request or order from a law enforcement agency.</li>
</ul>
<h4>IV. ACCESSING AND MODIFYING YOUR INFORMATION</h4>
<p>
    You and your Organisation may access, correct or delete information that you have uploaded to the Service using the tools within the Service (for example, editing your profile information or via the Activity Log). If you are not able to do so using the tools provided in the Service, you should contact your Organisation directly to access or modify your information.
</p>
<h4>V. THIRD-PARTY LINKS AND CONTENT</h4>
<p>
    The Service may contain links to content maintained by third parties that your Organisation does not control. You should review the privacy policies of each website that you visit.
</p>
<h4>VI. ACCOUNT CLOSURE</h4>
<p>
    If you would like to stop using the Service, you should contact your Organisation. Similarly, if you stop working for or with the Organisation, the Organisation may suspend Your Account and/or delete any information associated with Your Account.
    It typically takes about 90 days to delete an account after account closure, but some information may remain in backup copies for a reasonable period of time. Please note that content you create and share on the Service is owned by your Organisation and may remain on the Service and be accessible even if your Organisation deactivates or terminates Your Account. In this way, content that you provide on the Service is similar to other types of content (such as presentations or memos) that you may generate in the course of your work.
</p>
<h4>VII. CHANGES TO THE PRIVACY POLICY</h4>
<p>
    This Privacy Policy may be updated from time to time. When updated the “Effective date" above will be amended and the new Privacy Policy will be posted online.
</p>
<h4>VIII. CONTACT</h4>
<p>
    If you have any questions about this Privacy Policy or Facegood Acceptable Use Policy, please contact your Organisation via your Organisation's Admin.
</p>

<address>
    <string>Facegood, Inc.</strong></br>
    1337 Winning Road</br>
    Yolo Park, CA 9447, USA</br>

    </br></br>

    <strong>iDont Ltd.</strong></br>
    4 Grand Canyon Circle</br>
    Godel Escher Bach</br>
    EGB</br>
</address>

{% endblock %}
