{% extends "base.html" %}

{% block content %}

    <div class="jumbotron offset-3 col-6">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            {{ form.username.label }}
            {{ form.username(size=32, class_="form-control") }}
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset>
        {{ form.submit(class_="btn btn-lg btn-light offset-3 col-6") }}
    </form>
    </div>

{% endblock %}