{% extends "base.html" %}
{% block content %}

<form action="" method=post>
  {{ form.hidden_tag() }}
  <div class="form-group row">
      <div class="col-12">
        {{ form.title.label }}
        {{ form.title(class_="form-control") }}
      </div>
  </div>
  <fieldset class="form-group">
    {{ form.content.label }}
    {{ form.content(class_="form-control") }}
  </fieldset>
  <div class="form-group row">
      <div class="col-6">
        {{ form.password.label }}
        {{ form.password(class_="form-control") }}
      </div>
      <div class="col-3">
        {{ form.visibility.label }}
        {{ form.visibility(class_="form-control") }}
      </div>
      <div class="col-3">
        {{ form.highlight.label }}
        {{ form.highlight(class_="form-control") }}
      </div>
  </div>
  {{ form.submit(class_="btn btn-lg btn-dark col-2") }}
</form>

{% endblock %}

