.navpad-top {
    margin-bottom: 100px;
}

body {
    background-color: #3d348b;
}

h1, h2, h3, h4, h5{
	color: #f7b801;
    margin-left: auto;
    margin-right: auto;
}
p {
	color: #7678ed;
}

img {
    width: 100%;
}

iframe {
    width: 100%;
    height: 450px;
}

.padtop {
    margin-bottom: 64px;
}

.status-text {
    margin-bottom: 0px;
    color: red;
    text-align: center;
}

.form-input {
    padding-bottom: 7px;
    text-align: center;
}

.width-filled {
	width: 100%;
}
.cell-container {
	position: relative;
	width: 180px;
	height: 180px;
	margin: 0 auto;
}
.cell-container>.cell {
	width: 60px;
	height: 60px;
	float: left;
}

.centered-block {
	margin-left: auto;
	margin-right: auto;
    text-align: center;
}
.centered{
	text-align: center;
}

.centerpiece {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-bottom: 7px;
}

p.smugsecure {
    color: #3d348b;
}

#qr {
	width: 180px;
	height: 180px;
}
