{% extends 'layouts/main.html' %}
{% block title %}Login{% endblock %}
{% block content %}
  <div class="col-md-3"></div>
    <div class="col-md-6 block-center">
    <form method="post" class="form">
    <h3 class="form-heading">Login <a href="{{ url_for('main.home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
    {{ form.password(class_ = 'form-control last-input', placeholder = form.password.label.text, required = true) }}
    <p class="pull-right"><a href="{{ url_for('main.register') }}">Register</a></p>
    <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
    {% if err %}<p class="alert alert-danger">{{ err }}</p>{% endif %}
    </form>
    </div>
  <div class="col-md-3"></div>
{% endblock %}
